/* Downloaded Fonts */
@font-face {
    font-family: 'phenomena';
    src: url('fonts/phenomena-regular-webfont.woff2') format('woff2'),
         url('fonts/phenomena-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'phenomena';
    src: url('fonts/phenomena-extrabold-webfont.woff2') format('woff2'),
         url('fonts/phenomena-extrabold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '56th_street';
    src: url('fonts/56thstreet-regular-webfont.woff2') format('woff2'),
         url('fonts/56thstreet-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* General Style */
body {
	background-color: #E5F0FF;
	color: #586D9A;
	font-family: 'Overlock', serif;
	font-weight: normal;
	letter-spacing: 0.05em;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s; /* For Safari */
	font-size: 16px;
	line-height: 1.4;
}

p {
	font-family: "Overlock", serif;
	font-weight: lighter;
}

.tag {
	background-color: none;
	border: 1px solid #9AADCC;
	border-radius: 10px;
	padding: 3pt;
	white-space: nowrap;
}

/* Containers */
div {

}

#main-container {
	display: inline-block;
	margin: 4.5%;
}

.nav-container {
	width: 61%;
	margin-top: 8%;
}

.icon-container {
	display: inline-block;
	display: -moz-inline-box;
    *display: inline; /* For IE7 */
	width: 30%;
	text-align: center;
}

.resume-container {
	text-align: center;
	margin-top: 5%;
}

.tag-container {
	text-align: center;
	line-height: 2.5;
}

.project-wrapper-container {
	overflow: hidden;
	margin-bottom: 10pt;
}

.project-options-container {
	width: 100%;
	padding: 15pt;
	background-color: #f9f9f9;
	margin-bottom: 50px;
	text-align: center;
	border-radius: 8px;
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
}

.project-options-button {
	display: inline-block;
	background-color: #9AADCC;
	color: #f9f9f9;
	border: 1px solid #9AADCC;
	border-radius: 10px;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px; 
	width: 100pt;
	padding: 7pt 12pt 7pt 12pt;
	margin: 0 5pt 0 5pt;
	white-space: nowrap;	
}

.more-info-button:after {
	font-family: FontAwesome;
	content:"\f107";
	padding-left: 5pt;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	position: absolute;
	opacity: 0;
}

.more-info-button:hover:after {
	opacity: 1;
}

.more-info-button:hover {
	cursor: pointer;
}

.link-out-button:after {
	font-family: FontAwesome;
	content:"\f105";
	padding-left: 5pt;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	position: absolute;
	opacity: 0;
}

.video-button:hover:after {
	opacity: 1;
}

.video-button:after {
	font-family: FontAwesome;
	font-size: 11pt;
	content:"\f008";
	padding-left: 5pt;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	position: absolute;
	opacity: 0;
}

.link-out-button:hover:after {
	opacity: 1;
}

.portfolio-more-info {
	margin-top: 20pt;
	padding: 5pt;
	text-align: left;
	display: none;
}

.portfolio-main {
	display: block;
}

.portfolio-container-left {
	float: left;
	width: 50%;
}

.portfolio-container-right {
	float: right;
	width: 47%;	
}

.portfolio-images {
	width: 100%;
}

.contact-container-left {
	float: left;
	width: 46%;
}

.contact-container-right {
	float: right;
	width: 46%;
}


/* Modals */
.modal-container {
	position: fixed;
	display: none;
	padding-top: 7%; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	overflow: hidden;   
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}

.modal-box {
	border-radius: 10px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-height: 70%;
    width: 45%;
    overflow: scroll;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 26px 6% 26px 6%;
}

.modal-close-holder {
	width: 48%;
	text-align: right;
	position: fixed;
	font-size: 40px;
	z-index: 4;
}

.modal-close {
}

.modal-box .modal-content {
	position: relative;
	z-index: 1;
}

.modal-close:hover {
	opacity: 0.4;
	cursor: pointer;
}

.modal-box#aboutme {
	padding-top: 0%;
}

.modal-box#aboutme .modal-content {
	top: 100px;
	font-family: "Overlock", serif;
	font-weight: lighter;
}

.modal-box#aboutme:before {
	content: '';
	position: absolute;
	left: 0%;
	width: 100%;
	height: 32%;
	background: #F9C7BD;
	background-image: url("images/img-fruitbanner.png");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px 10px 0px 0px
}

.modal-box#aboutme:after {
	content: '';
	position: absolute;
}

.modal-box#portfolio {

}

.modal-box#contact {

}


/* Headers */
h1, h3, h4 {
	font-family: 'phenomena';
	font-weight: normal;
}

h2 {
	font-family: 'phenomena';
	font-weight: bold;
	font-size: 35px;
}

h5 {
	font-family: '56th_street';
	font-size: 13pt;
}

h6 {
	display: inline;
}

.welcome {
	font-weight: lighter;
	font-size: 29pt;
	margin-bottom: -18px;
}

.sub-welcome {
	font-size: 14pt;
}


/* Text Styles */
#name-bold {
	font-family: 'phenomena';
	font-size: 37pt;
}

p {

}

::-moz-selection { /* For Firefox */
    background: #C4D7F6;
}

::selection {
    background: #C4D7F6;
}


/* Image Styles */
.nav-icons {
	width: 74%;
}

#profile-photo {
	width: 110px;
	border: 4px solid #fefefe;
	border-radius: 50%;
	text-align: center;
	margin-bottom: -2%;
}

.header-icons {
	height: 25px;
}


/* Anchor Styles */
a {
	transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s; /* For Safari */
	color: #586D9A;
	text-decoration: none;
}

a.linkies {
  position: relative;
  text-decoration: none;
  font-style: italic;
}

a.linkies:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #586D9A;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.linkies:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-anchor {
	background-color: none;
	border: none;
}

.icon-container a p {
	font-family: '56th_street';
	font-size: 13.5pt;
	padding-top: 10pt;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}

.icon-container a:hover p {
	visibility: visible;
	opacity: 1;
	transition-delay:0s;
}

#nav-about {
	padding-bottom: 4pt;
	text-decoration: none;
	border-bottom: 4.5px solid #F98080;
	white-space: nowrap;
}

#nav-portfolio {
	padding-bottom: 4pt;
	text-decoration: none;
	border-bottom: 4.5px solid #FCA04F;
	white-space: nowrap;
}

#nav-contact {
	padding-bottom: 4pt;
	text-decoration: none;
	border-bottom: 4.5px solid #B6CD8B;
	white-space: nowrap;
}


#resume-anchor {
	padding: 12px 25px 12px 25px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	font-family: 'phenomena';
	font-size: 18pt;
	overflow: hidden;
}

#resume-anchor:hover {
	background-color: #647CAF;
	color: #E5F0FF;
}

/* Social Media Buttons */
.social-media-container {
	text-align: center;
}

.social-media {
	display: inline-block;
	font-size: 50px;
	padding: 10pt;
	border-radius: 20%;
}

#icon-facebook:hover {
	color: #3b5998;
}

#icon-instagram:hover {
	color: #400080;
}

#icon-github:hover {
	color: black;
}

#icon-linkedin:hover {
	color: #0077B5;
}